@font-face {
    font-family: 'NeueWorld';
    src: url(../assets/font/PPNeueWorld-CondensedBold.woff) format("woff");
}
@font-face {
    font-family: 'NeueMontreal Bold';
    src: url(../assets/font/PPNeueMontreal-Bold.woff) format("woff");
    font-weight: Bold;
}
@font-face {
    font-family: 'NeueMontreal Bold Italic';
    src: url(../assets/font/PPNeueMontreal-BoldItalic.woff) format("woff");
    font-weight: Bold;
    font-style: italic;
}
@font-face {
    font-family: 'NeueMontreal';
    src: url(../assets/font/PPNeueMontreal-Regular.woff) format("woff");
    font-weight: normal;
}