::-webkit-scrollbar {
    display: none;
}
html, body{
    overflow-x: hidden;
}


.title{
    display: flex;
    justify-content: center;

    margin: 0;

    margin-top: 7.993rem;
}

h2{
    font-size: 52px;
    font-family: 'NeueWorld', sans-serif;
    font-weight: 900;
    text-align: center;

    width: 600px;
}

.title__magneticwrap {
    display: inline-block;
    position: relative;
}

.form, .form2 {
    border-radius: 20px;
}

.title__magneticsize {
    position: absolute;
    bottom: -3rem;
    top: -3rem;
    left: -3rem;
    right: -3rem;
    z-index: 1;
}

.title__form, .title__form2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    margin: 0;
}
.title__form{
    transform: translateX(-10%);

}
