@use 'components/font';
@use 'components/title';

@import 'utils/reset';
@import 'utils/variables';
@import 'utils/fontscale';
@import 'utils/spacing';

@import '../../node_modules/modern-normalize/modern-normalize.css';

.article--final::before{
    content:"";
    position: absolute;
    background: $c-alt;
    width: 250%;
    height: 750px;
    left: -200px;
    z-index: -1;

    transform: translateY(-50px) rotate(-5deg);
}
html{
    background-color: $c-bg;
}
.minvisible{
    display: none;
}
.front{
    height: 100vh;
}

.title--serif, h1, h2{
    color: $c-text;
    font-family: 'NeueWorld';
    text-align: center;
}
.title--dcolor{
    color: $c-text-alt;
}
.title--firstline{
    margin-bottom: 0;
}
.title--secondline{
    margin-top: 0;
    margin-bottom: 7.993rem;
}
.title--bgblack{
    color: $c-text-light;
}


p{
    font-family: 'NeueMontreal';
}
h1, h3, h4, a{
    font-family: 'NeueMontreal Bold';
}
button{
    font-family: 'NeueMontreal Bold Italic';
}
a{
    color: $c-alt;
}
.link__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c-alt;
    padding: 16px 22.624px;
    border-radius: 20px;

    color: $c-text-light;
}
.link__btn:hover{
    box-shadow: inset 0 -100px 0 0 $c-link;
    color: $c-text-light;
    transition: 0.5s ease-in;
}
.link__btn--final{
    background-color: $c-text-alt;
    color: $c-text-light;
}

.header{
    display: flex;
    justify-content: space-between;
}
.header__carousel{
    margin: 0;
}
.header__carousel--list{
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;

    display: flex;
    gap: 1rem;
}
.header__carousel--el{
    height: 400px;
}

.header__carousel::after{
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
}
.header__carousel::before{
    left: 0;
    top: 0;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1750px);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1750px);
    }
  }

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.998rem;
}
.article__text{
    margin: 0;
}
.article__elements{
    display: block;
    position: relative;

    padding-left: 2.827rem;
}
.article__elements::before{
    box-sizing: border-box;
    content: "";
    height: 100%;
    width: 8px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $c-gray;
    border-radius: 0.25rem;
}
.article__link{
    display: block;
    position: relative;
    text-align: left;
    border-radius: 0;

    background-color: $c-bg;
    color: $c-alt;
}
.article__link::before{
    box-sizing: border-box;
    content: "";
    height: 100%;
    width: 8px;
    display: block;
    position: absolute;
    left: -2.827rem;
    top: 0;
    background: $c-alt;
    border-radius: 0.25rem;
}
.article__link--bgblack{
    background-color: $c-alt;
    color: $c-bg;
}
.article__link--bgblack::before{
    background: $c-text-alt;
}

img{
    border-radius: 20px;
    box-shadow: 5px 5px 20px -4px rgba(0,0,0,0.33);
}
.prototype__img{
    width: 300px;
}

.footer{
    margin-top: 
    15.981rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "NeueMontreal Bold";
    font-size: 1rem;

    color: $c-alt;
}
.footer__list{
    display: flex;
    justify-content: space-between;
}
.footer__elements{
    display: flex;
    flex-direction: column;
    gap: 2.827rem;
}
.footer__copyright{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.footer__img{
    border-radius: 0;
    box-shadow: none;
    
    transform: translateY(50px);
    width: 70%;
}
.footer__link:hover{
    svg > path{
        fill: $c-link;
    }
}


.article--final{
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.article--block{
    position: relative;
}

.article--bgdark::before {
    content: "";
    position: absolute;
    background: $c-alt;
    width: 250%;
    height: 2000px;
    left: -250px;
    z-index: -1;
    transform: translateY(-300px) rotate(-5deg);
}

@media only screen and (min-width: 500px){
    .article--bgdark::before {
        height: 1800px;
    }
}
@media only screen and (min-width: 750px){
    .article--bgdark::before {
    }
}

@media only screen and (min-width: 1000px){
    .article--bgdark::before {
        left: -465px;
    }
}
@media only screen and (min-width: 1250px){
    .article{
        flex-direction: row;
        gap: 11.302rem;
    }
    .article--bgdark::before {
        height: 1300px;
        transform: translateY(-500px) rotate(-5deg);
    }
    .article--final{
        flex-direction: column;
        gap: 0;
    }


    .footer{
        flex-direction: row;
    }
    .footer__elements{
        order: 2;
    }
    .footer__img{
        order: 1;
        width: 30%;
    }

    .minvisible{
        display: flex;
    }
}

@media only screen and (min-width: 1750px){
}