@import '../utils/variables';

::selection {
    color: $c-text-light;
    background-color: $c-selection;
}

body{
    max-width: 2500px;
    display: block;
    margin: auto;
}

html {
	scroll-behavior: smooth;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    transition: 0.3s ease-in;
    text-decoration: none;
    color: $c-link;
}

button{
    border: none;
    background-color: transparent;
}
button:hover{
    opacity: 80%;
}
small{
    font-size: 100%;
}
p{
    line-height: 1.7;
}