@import '../utils/variables';

html {
	scroll-behavior: smooth;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

button{
    border: none;
    background-color: transparent;
}
button:hover{
    opacity: 80%;
}